


<div class="row">
  <div class="col-sm-12">
      <h1><label class="label label-info">Click Puzzle Name For Manage Comments</label></h1>
    <div class="row">
      <accordion close-others="true">
        <div accordion-group class="panel-default" ng-repeat="puzzle in puzzles" is-open="puzzle.open">
          <accordion-heading>
            <label ng-click="showCommentsForPuzzle(puzzle.id)" class="label label-primary">{{puzzle.name}}</label>
            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': puzzle.open, 'glyphicon-chevron-right': !puzzle.open}"></i>
          </accordion-heading>
            <div class="col-sm-12" ng-repeat="comment in comments">
              {{comment.subject}}
            </div>
        </div>
      </accordion>
    </div>
  </div>
</div>

