<div class="row">
  <div class="col-sm-12">
    <h1><label class="label label-info">Click Puzzle Name For Manage Comments</label></h1>
    <div class="row">
      <accordion close-others="true">
        <div accordion-group ng-click="showCommentsForPuzzle(puzzle.id)" class="panel-default"
             ng-repeat="puzzle in puzzles" is-open="puzzle.open">
          <accordion-heading>
            <label class="label label-primary">{{puzzle.name}}</label>
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': puzzle.open, 'glyphicon-chevron-right': !puzzle.open}"></i>
          </accordion-heading>

          <table class="table table-responsive table-bordered">
            <thead>
            <tr>
              <th>Comment Name
              </th>
              <th>Comment Content
              </th>
              <th>Published
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in comments">
              <td class="col-md-2">
                {{comment.subject}}
              </td>
              <td class="col-md-8">
                {{comment.message}}
              </td>
              <td class="col-md-1">
                <input type="checkbox"
                       ng-model="comment.publish" >
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </accordion>
    </div>
  </div>
</div>

