<div class="row">
  <div class="col-sm-12">
    <h1><label class="label label-info">Click Puzzle Name For Manage Comments</label></h1>
    <div class="row">
      <accordion close-others="true">
        <div accordion-group class="panel-default"
             ng-repeat="puzzle in puzzles" is-open="puzzle.open">
          <accordion-heading>
            <label class="label label-primary" ng-click="showCommentsForPuzzle(puzzle.id)">{{puzzle.name}}</label>
            <i class="pull-right glyphicon" ng-click="showCommentsForPuzzle(puzzle.id)"
               ng-class="{'glyphicon-chevron-down': puzzle.open, 'glyphicon-chevron-right': !puzzle.open}"></i>
          </accordion-heading>

          <table class="table table-responsive table-bordered">
            <thead>
            <tr>
              <th>Comment Name
              </th>
              <th>Comment Content
              </th>
              <th>Published
              </th>
              <th>Created
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in comments | orderBy: 'createdAt'">
              <td class="col-md-2">
                {{comment.subject}}
              </td>
              <td class="col-md-7">
                {{comment.message}}
              </td>
              <td class="col-md-1">
                <input type="checkbox" ng-change="changePublish(comment)"
                       ng-model="comment.publish" >
              </td>
              <td class="col-md-1">
                <label class="pull-right comment-date">{{comment.createdAt | date:'dd-MM-yyyy HH:mm'}}</label>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </accordion>
    </div>
  </div>
</div>

