<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <h4>Puzzles</h4>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-success pull-right" ng-click="addPuzzle()"> Add Puzzle</button>
      </div>
    </div>
    <table class="table table-responsive table-bordered">
      <thead>
      <tr>
        <th>Puzzle Name
        </th>
        <th>Score
        </th>
        <th>Calculate
        </th>
        <th>Edit
        </th>
        <th>Delete
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="puzzle in puzzles | orderBy:'no'">
        <td class="col-md-7">
          <a ui-sref="admin.puzzle({puzzleId:puzzle.id})"> {{puzzle.name}}</a>
        </td>
        <td class="col-md-1">
          <label>{{puzzle.score}}</label>
        </td>
        <td class="col-md-1">
          <button class="btn btn-primary" ng-click="calculateScore(puzzle)"><i class="fa fa-cogs"></i>
          </button>
        </td>
        <td class="col-md-1">
          <a href class="" ng-click="addPuzzle(puzzle)"><i class="fa fa-2x fa-pencil"></i></a>
        </td>
        <td class="col-md-1">
          <a href class="" ng-click="deletePuzzle(puzzle)"><i class="fa fa-2x fa-trash-o"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
