<div class="row">
  <div class="col-sm-12">
    <h1>ŞİFRE SIFIRLA</h1>
  </div>
</div>

<div class="row" ng-hide="isPasswordSend">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <form ng-submit="updatePassword()" name="passwordResetForm">
      <div class="form-group"
           ng-class="{'has-error':passwordResetForm.password.$dirty && passwordResetForm.password.$invalid}">
        <label>Şifre</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Şifre" minlength="8"
               ng-model="passwordResetForm.password" required />

      </div>

      <div class="form-group"
           ng-class="{'has-error':passwordResetForm.password_confirmation.$dirty
       && passwordResetForm.password_confirmation.$invalid}">
        <label>Şifre Kontrolü</label>
        <input class="form-control" type="password" name="password_confirmation" placeholder="Şifre Kontrolü"
               id="password_confirmation" ng-model="passwordResetForm.password_confirmation" required/>
      </div>
      <button type="submit" class="btn btn-primary"  ng-disabled="actionState==actionStates.onAction">
        <i class="fa fa-cog fa-spin" ng-show="actionState==actionStates.onAction"></i>
        Password Reset
      </button>
    </form>
  </div>
</div>

<div class="row text-center"ng-show="isPasswordSend">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="alert-info">
      Şifreniz başarılı bir şekilde sıfırlanmıştır. Yeni şifrenizle <a ui-sref="singIn">giriş</a> yapabilirsiniz.
    </p>
  </div>
</div>

