<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Rules</h3>
        </div>
        <div class="panel-body">
            <p>
                <p>1. The competition will start on 27th July 2016 and consist of 20 problems which will be posted every week. The competition (answering period) will last totally 20 weeks. There will be no extra time.</p>

                <p>2. New problems will be posted every Wednesday at 11:00 (GMT). Each new problem is finalized in the following 24 hours (i.e. checked for possible revisions, changes, extra information, etc.) and the answering period starts on Thursdays at 11:00 (GMT).</p>

                <p>3. Competitors may start the competition at any time during the 20 week period, and answer problems from past weeks.</p>

                <p>4. Each user may join the competition with a single name/membership.</p>

                <p>5. Do not write explanations when answering problems. Respond numerically unless the opposite is requested. Otherwise your answer will be evaluated as wrong.</p>

             <!--   6. At the end of the competition the solutions and explanations for all the problems will be requested from only those who have the possibility of being in top ten of the scoreboard.

                7. Each correct answer is 100 points. Competitors may change their answers up to 4 times (5 answering options in total). 20 points will be subtracted from 100 points as each change is made by the competitor. (1st answer-no change:100 points, 2nd answer:80 points, 3rd answer:60 points, 4th answer: 40 points, 5th answer: 20 points). Competitors may additionally collect two types of extra points. These are given depending on (a) the answering day of each user and (b) the percentage of correct answers given by all users to the same problem. More specifically:

                a. Competitors receive 5 points for each answer they provide on the first answering day (Thursday 11:00 - Friday 10:59 GMT) of the first week, 4 points for each answer on the second day (Friday 11:00 - Saturday 10:59 GMT), 3 for each answer on the third day (Saturday 11:00 - Sunday 10:59 GMT), 2 for each answer on the fourth day (Sunday 11:00 - Monday 10:59 GMT), 1 for each answer on the fifth day (Monday 11:00 - Tuesday 10:59 GMT). No extra points are given for correct answers to problems from past weeks.

                b. (100-the correct answer percentage of all users) is added to the total points.

                For example: Suppose that a competitor has answered a certain problem on the fifth day and the same problem was answered correctly by 30 of the 50 competitors who responded. In this case, 100 points for answering the problem correctly, another 1 point for answering on the fifth day, and 40 extra points (because 30 out of 50 users answered that problem correctly) will be given. The competitor receives 141 points (100 + 1 +[ 100-(100*30/50) ] = 141 ) in total.

                8. The scoreboard is updated approximately once a month. The points on the scoreboard correspond to correct answers for randomly chosen problems and include bonus points. (The number of randomly chosen problems is equal to half of the total number of problems).

                9. At the end of the competition the correct answers will be announced and the competitors will be able to examine their scores for all the problems for a 1 week period. Any objection should be made during this period.

                10. Certificates will be e-mailed to the winners; the 10 competitors with the highest points. There are no rewards.

                11. All the problems in the competition are composed by Emrehan Halici, and fall into three different groups:

                a. Different versions of formerly published, poorly-known problems

                b. Problems based on a mathematical theory or formula

                c. Original problems

                12. In PuzzleUp the solutions of the problems are not revealed. The ideas behind the reason for this can be found in the passage taken from the speech made by Emrehan Halici regarding this rule.

                13. Any problem may be cancelled due to reasons such as faulty problems, or similar problems published in another commonly used medium. In such cases, the cancellation will be announced on the PuzzleUp website and scores will be re-calculated.

                14. For your comments and suggestions you can use the [comments] section. Please do not discuss/share answers or tips in your messages. Also please keep in mind that every message will be read, but since this section is not a "forum", not all of them will be published or answered.

                15. The PuzzleUp board has the right to disqualify any competitor who violates these rules or any other ethical rule.

                16. The PuzzleUp board has the right to make amendments on these rules. Once amendments have been made, they will announced on the main page.

                17. All competitors are expected to have read and accepted these rules.-->
            </p>
        </div>
    </div>
</div>
